---
import Layout from "@/layouts/Layout.astro"
import { getLeagueIcons } from "@/server/queries/league"

const leagueIcons = await getLeagueIcons()
---

<Layout>
	<div class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4 p-4">
		{
			leagueIcons.map(({ slug, name, color }) => (
				<a
					href={`leagues/${slug}`}
					style={`background: linear-gradient(180deg, ${color}75 0%, rgba(0, 0, 0, 0.20) 100%);`}
					class="flex h-64 flex-col items-center justify-center gap-4 rounded-lg text-zinc-900 transition-transform duration-300 hover:scale-105 dark:from-zinc-800 dark:to-zinc-900 dark:text-zinc-100">
					<img
						src={`api/leagues/${slug}?full=true`}
						alt={`${name} Logo SVG`}
						class="size-full h-32 max-w-40 object-contain"
						loading="lazy"
					/>
					<span>{name}</span>
				</a>
			))
		}
	</div>
</Layout>
